@{
    ViewData["Title"] = "Olá bem vindo ao meu Blog!";
}

<div class="text-center">
    @* <h1 class="display-4">Welcome</h1> *@
    <h4 class="display-4"><i class="fa-solid fa-book"></i> Bem vindo ao meu Blog!</h4>
    
</div>
